In [2]:
import pandas as pd
df = pd.read_stata('A1_kommune.dta')
display(df)

     nr                kommune        taxrev    taxrate     pop
0   101     Københavns Kommune  44170.335938  23.799999  528208
1   147  Frederiksberg Kommune   6682.439941  23.100000   96718
2   151       Ballerup Kommune   4598.704102  25.500000   47652
3   153        Brøndby Kommune   3121.204834  24.500000   33795
4   155         Dragør Kommune    858.017944  24.799999   13564
..  ...                    ...           ...        ...     ...
93  840         Rebild Kommune   1957.348511  25.100000   28852
94  846  Mariagerfjord Kommune   3186.054932  25.700001   42604
95  849     Jammerbugt Kommune   3241.256592  25.299999   38927
96  851        Aalborg Kommune  16330.091797  25.400000  197426
97  860       Hjørring Kommune   5061.796875  25.400000   66803

[98 rows x 5 columns]

In [7]:
vars = ['taxrev','taxrate','pop']
df[vars].describe()

             taxrev    taxrate            pop
count     98.000000  98.000000      98.000000
mean    4477.341309  25.208162   56475.887755
std     5251.175293   0.908003   62925.301713
min      211.228409  22.799999    1969.000000
25%     2466.702271  24.799999   29997.750000
50%     3317.848633  25.299999   43475.000000
75%     4786.060913  25.700001   59733.000000
max    44170.335938  27.799999  528208.000000

**Opgave 2**

In [15]:
import numpy as np
import statsmodels.api as sm
df["logtaxrev"]=np.log(df.taxrev)
df["const"]=1
model_sm = sm.OLS(df['logtaxrev'], df[['const','taxrate']]).fit()
#print(model_sm.summary())
print(model_sm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              logtaxrev   R-squared:                       0.029
Model:                            OLS   Adj. R-squared:                  0.018
Method:                 Least Squares   F-statistic:                     2.818
Date:                Mon, 16 Sep 2024   Prob (F-statistic):             0.0965
Time:                        09:40:22   Log-Likelihood:                -111.12
No. Observations:                  98   AIC:                             226.2
Df Residuals:                      96   BIC:                             231.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         11.6982      2.143      5.459      0.000       7.444      15.952
taxrate       -0.1426      0.085     -1.679      0.096      -0.311       0.026
==============================================================================
Omnibus:                       17.794   Durbin-Watson:                   1.863
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               45.446
Skew:                          -0.567   Prob(JB):                     1.35e-10
Kurtosis:                       6.138   Cond. No.                         705.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [19]:
df["logpop"]=np.log(df['pop'])
import numpy as np
import statsmodels.api as sm
model_sm2 = sm.OLS(df['logtaxrev'], df[['const','taxrate','logpop']]).fit()
#print(model_sm.summary())
print(model_sm2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              logtaxrev   R-squared:                       0.980
Model:                            OLS   Adj. R-squared:                  0.980
Method:                 Least Squares   F-statistic:                     2344.
Date:                Mon, 16 Sep 2024   Prob (F-statistic):           1.42e-81
Time:                        10:01:31   Log-Likelihood:                 79.497
No. Observations:                  98   AIC:                            -153.0
Df Residuals:                      95   BIC:                            -145.2
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -2.8022      0.376     -7.461      0.000      -3.548      -2.057
taxrate        0.0226      0.012      1.816      0.072      -0.002       0.047
logpop         0.9711      0.014     67.471      0.000       0.943       1.000
==============================================================================
Omnibus:                       15.730   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               20.068
Skew:                           0.810   Prob(JB):                     4.39e-05
Kurtosis:                       4.514   Cond. No.                         933.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.